In [ ]:
SELECT name
FROM Facilities
WHERE membercost <> 0.0;

In [ ]:
SELECT COUNT(name)
FROM Facilities
WHERE membercost = 0.0;

In [ ]:
SELECT facid, name, membercost, monthlymaintenance 
FROM Facilities 
WHERE membercost < .2*monthlymaintenance;

In [ ]:
SELECT *
FROM Facilities 
WHERE facid
IN (1,5);

In [ ]:
SELECT *,
CASE 
WHEN monthlymaintenance > 100 THEN 'expensive'
WHEN monthlymaintenance < 100 THEN 'cheap' 
END AS category
FROM Facilities;

In [ ]:
SELECT firstname, surname
FROM Members 
HAVING MAX(joindate);

In [ ]:
SELECT CONCAT (firstname, ' ,', surname) AS fullname, name
FROM Facilities 
INNER JOIN Bookings
USING (facid)
INNER JOIN Members 
using (memid)
WHERE facid IN (0,1);

In [ ]:
SELECT CONCAT (firstname, ' ,', surname) AS fullname, name, 
CASE WHEN memid = 0 THEN guestcost*slots
ELSE membercost*slots END AS cost
FROM Facilities AS f
INNER JOIN Bookings AS b
USING (facid)
INNER JOIN Members AS m
USING (memid)
WHERE starttime BETWEEN '2012-09-14 00:00:00' AND '2012-09-14 24:30:00'
AND CASE WHEN memid = 0 THEN guestcost*slots
ELSE membercost*slots END > 30;

In [ ]:
SELECT CONCAT (temp.firstname, ' ,', temp.surname) AS fullname, temp.name, temp.cost
FROM (SELECT m.firstname, m.surname, name, 
      CASE WHEN memid = 0 THEN guestcost*slots
      ELSE membercost*slots END AS cost
      FROM Facilities AS f
      INNER JOIN Bookings AS b
      USING (facid)
      INNER JOIN Members AS m
      USING (memid)
      WHERE starttime BETWEEN '2012-09-14 00:00:00' AND '2012-09-14 24:30:00') AS temp
WHERE temp.cost > 30;

In [ ]:
SELECT sub.name, sub.revenue
FROM (SELECT name, 
    SUM(CASE WHEN memid =0
    THEN guestcost * slots
    ELSE membercost * slots END) AS revenue
    FROM Facilities
    INNER JOIN Bookings
    USING ( facid )
    GROUP BY name) AS sub
WHERE sub.revenue <1000
ORDER BY  sub.revenue;

In [ ]:
SELECT CONCAT( m.surname, ', ', m.firstname ) AS 'Member Names:', concat(m2.firstname, ' ', m2.surname) as 'Recommended by:'
FROM Members as m
INNER JOIN Members as m2 on m.recommendedby = m2.memid
WHERE m.recommendedby > 0
ORDER BY m.surname ASC

In [ ]:
SELECT f.name AS 'Facility Name:', SUM( b.slots ) AS 'Total bookings:'
FROM Bookings AS b
INNER JOIN Facilities AS f ON f.facid = b.facid
WHERE memid >0
GROUP BY b.facid
ORDER BY SUM( b.slots ) DESC

In [ ]:
SELECT f.name AS 'Facility Name:',
SUM(CASE WHEN EXTRACT(MONTH FROM starttime ) =7 THEN 1 ELSE 0 END) AS July,
SUM(CASE WHEN EXTRACT(MONTH FROM starttime ) =8 THEN 1 ELSE 0 END) AS August,
SUM(CASE WHEN EXTRACT(MONTH FROM starttime ) =9 THEN 1 ELSE 0 END) AS September
FROM Bookings AS b
INNER JOIN Facilities AS f ON f.facid = b.facid
WHERE memid >0
GROUP BY name